/*=========================================================================
  Simple Reset
============================================================================*/

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/*=========================================================================
  Colors / Style Variables
============================================================================*/

:root {

	--color-white: #FFFFFF;
	--color-black:  #000000;

	--color-grey: #999;
	--color-grey-dark: #404040;
	--color-grey-light: #ddd;
	--color-grey-light-light: #F7F7F7;

	--color-accent: #EB330E;

	--color-background: #404040;
	
	--color-error: #c64f3d;
	--color-success: #3dc67a;
	
	--padding-xxl: 3.5rem;
	--padding-xl: 3rem;
	--padding-large: 1.5rem;
	--padding-standard: 1rem;
	--padding-small: calc( var(--padding-standard) / var(--scale-ratio) );
	--padding-xs: calc( var(--padding-small) / var(--scale-ratio) );
	--padding-xxs: calc( var(--padding-xs) / var(--scale-ratio) );

	--border-radius: 3px;
	--border-radius-big: 1rem;
	
	--shadow-light: 0 1px 10px rgba(0,0,0,0.06), 0 1px 10px rgba(0,0,0,0.12);
	--shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	--shadow-active: 0 7px 14px rgba(0,0,0,0.24), 0 5px 5px rgba(0,0,0,0.15);

	--transition-time: all 0.5s cubic-bezier(.25,.8,.25,1);
}


/*=========================================================================
  Typography
============================================================================*/

:root {
	--scale-ratio:			1.2;

	--font-size-xxxl:  calc( 1rem * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) );;
    --font-size-xxl:   calc( 1rem * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) );
    --font-size-xl:    calc( 1rem * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) );
    --font-size-lg:     calc( 1rem * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) );
    --font-size-med:     calc( 1rem * var(--scale-ratio) * var(--scale-ratio) );
    --font-size-reg:    calc( 1rem * var(--scale-ratio) );
    --font-size-sm:     calc( .65rem * var(--scale-ratio) );
    --font-size-xs:   calc(.5rem * var(--scale-ratio) );

	--font-weight-bold: 700;
	--font-weight-semi-bold: 600;
	--font-weight-regular: 400;
	--font-weight-light: 300;

	--margin-xxxl: 4rem;
	--margin-xxl: 3.5rem;
	--margin-xl: 3rem;
	--margin-large: 1.5rem;
	--margin-standard: 1rem;
	--margin-small: calc( var(--margin-standard) / var(--scale-ratio) );
	--margin-xs: calc( var(--margin-small) / var(--scale-ratio) );
	--margin-xxs: calc( var(--margin-xs) / var(--scale-ratio) );

	--margin-paragraph: calc( var(--font-size-reg) * var(--scale-ratio) );

    --font-primary: 'Open Sans', Arial, sans-serif;
}

html {
	font-family: var(--font-primary);
	line-height: 1.5;
}

/* Headings */
h1 {
	font-size: var(--font-size-xxxl);
	font-weight: var(--font-weight-bold);
	margin-top: 0; 
}

h2 {
	font-size: var(--font-size-xxl);
	font-weight: var(--font-weight-semi-bold);
	margin-top: 0; 
}

h3 {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-regular);
}

h4 {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-light);
}

h5 {
	font-size: var(--font-size-reg);
	font-weight: var(--font-weight-semi-bold);
}

h6 {
	font-size: var(--font-size-sm);
}

h3, h4 {
	margin: var(--margin-xl) 0 var(--margin-standard);
}

p {
	color: var(--color-grey-dark);
	font-family: var(--font-primary);
	font-size: var(--font-size-reg);
	font-weight: var(--font-weight-regular);
	line-height: 1.8;
	margin:  0 0 var(--margin-paragraph) 0;
}

/* Links */

a{
	color: var(--color-grey);
	text-decoration: none;
	transition: var(--transition-time);
	transform: scale(.97);
}

p a, main li a {
	color: var(--color-accent);
	text-decoration: underline;
	transition: var(--transition-time);
	padding: .2rem;
}

a:hover {
	color: var(--color-white);
	background-color: var(--color-accent);
	border-radius: var(--border-radius);
  	transition: var(--transition-time);
  	transform: scale(1);
}

.hero-link {
	font-size: var(--font-size-lg);
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.anchor-visible {
    display: block;
    position: relative;
    top: -80px;
}

/* MAININTED STANDARD STYLING
button:focus, a:focus {
	outline: 3px solid rgba(235,51,14,.5);
}
*/

.no-hover:hover {
	background-color: transparent;

}

.featured {
	font-family: var(--font-primary);
	font-size: var(--font-size-med);
	font-style: italic;
	margin-bottom: var(--margin-standard);
}

.meta {
	color: var(--color-grey);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	margin: 0;
}

.meta-footnote {
	color: var(--color-grey);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	margin: var(--margin-xxs) 0;
}

.italic {
	font-style: italic;
	margin-bottom: var(--margin-large);
	font-weight: var(--font-weight-medium);
}

.contact-paragraph {
	max-width: 600px;
}

.contact-heading2 {
	margin: 0;
}

.contact-heading3 {
	margin-bottom: 0;
}

.copy-right {
	color: var(--color-grey);
	font-size: var(--font-size-xs);
	margin: 0;

}

.subtext {
	color: var(--color-grey-dark);
	font-size: var(--font-size-reg);
	font-weight: var(--font-weight-medium);
	margin: var(--margin-xxs) 0;
}

.case-study-main .subtext {
	font-size: var(--font-size-med);
}
.accent {
	color: var(--color-accent);
}

.case-study-hr {
	border: 1px solid var(--color-grey-light);
	border-radius: .1rem;
	margin: 0;
}

.case-study-hr-end {
	border: 1px solid var(--color-black);
	border-radius: .1rem;
	margin: 0 0 var(--margin-standard);
}

hr {
	border: 2px solid transparent;
	border-radius: .1rem;
	margin: 2rem 0;
}


.small-hr {
	border: 1px solid var(--color-accent);
	border-radius: .1rem;
}

/*=========================================================================
  Page Layout
============================================================================*/	

body {
	margin: 0;
	overflow-x: hidden;
}

main {
	max-width: 1280px;
	margin: 0 var(--margin-standard);
}

@media ( min-width: 1280px ){
	main {
		margin: 79.59px auto var(--margin-xxl);
	}
}

html {
  	scroll-behavior: smooth;
}

.case-study-main {
	max-width: 800px;
	margin: 0 var(--margin-standard) 0;
}

@media ( min-width: 718px ) {
	.case-study-main {
	margin: 0 auto;
	}
}

/*=========================================================================
  Header
============================================================================*/

.header-item-a {
 	 grid-area: logo;
}

.logo {
	display: none;
}

.logo-image {
	max-height: 80px;
	width: auto;
}

.logo-button {
	background-color: var(--color-accent);
	border-radius: var(--border-radius);
	color: var(--color-white);
	display: inline-block;
	font-size: var(--font-size-med);
	font-weight: var(--font-weight-semi-bold);
	padding: .5rem;
	text-decoration: none;
	text-shadow: none;
	transition: var(--transition-time);
	transform: scale(.9);
	}

.logo-button:hover {
	transform: scale(1);
  	transition: var(--transition-time);
}

header {
	background-color: var(--color-white);
	z-index: 2;
	display: grid;
	box-shadow: var(--shadow);
	margin: 0;
	padding: var(--padding-large) var(--padding-standard);
  	top: 0; 
  	width: 96%;
  	align-items: end;
  	grid-template-columns:  60px auto;
  	grid-template-rows: auto;
  	grid-template-areas: 
	"logo nav"
}

.header-item-b {
	display: inline-block;
	justify-self: end;
}


@media ( min-width: 718px ) {
	header {
		grid-template-columns: repeat( 2, 1fr );
		background-color: transparent;
		box-shadow: none;
	}

	section {
	min-height: 80vh;
	margin: 0 0 var(--margin-xxxl);
	}

	.header-index {
	position: fixed; 
	}

	main {
	margin-top: 79.59px;
	}

	.logo-button {
	display: none;
	}

	.logo {
	display: block;
	max-width: 350px;
	padding: .2rem;
	}

	.header-background {
    width: 100vw;
    height: 79.38px;
    background: var(--color-white);
	position: fixed;
  	top: 0;
  	z-index: 1;
  	box-shadow: var(--shadow-light);
	}
}

.case-study-main section {
	min-height: 0;
}

/*=========================================================================
  Blockquote
============================================================================*/

blockquote p {
	font-style: italic;
	font-size: var(--font-size-med);
	font-weight: var(--font-weight-semi-bold);
	color: var(--color-black);
	text-align: center;
	margin: var(--margin-xxl) 0;
}

cite {
	margin-left: 80px;
	font-size: var(--font-size-med);
	font-weight: var(--font-weight-semi-bold);
}

cite + p {
	margin-top: var(--margin-large);
}


/*=========================================================================
  Image
============================================================================*/

.case-study-image-with-no-caption, .case-study-image-with-caption {
	box-shadow: var(--shadow-light);
}

.case-study-image-main {
	margin: var(--margin-standard) auto; 
}

.no-shadow {
	box-shadow: none;
}

.case-study-image-with-no-caption { 
	margin: var(--margin-standard) auto var(--margin-xxl);
}

.case-study-image-with-caption { 
	margin: var(--margin-xxl) auto 0;
}

.image-caption {
	margin: var(--margin-xxs) 0 var(--margin-xxl);
	text-align: center;
}

/*=========================================================================
  Card
============================================================================*/

.card-image {
  	max-height: 180px;
  	width: auto;
  	overflow: hidden;
  	justify-self: center;
  	align-self: center;
	margin: var(--margin-large) 0 var(--margin-xl);
}

@media ( min-width: 900px ) {
	.card-image {
		max-height: 180px;
  		max-width: auto;
	}
}


.card {
	max-width: 100%;
	padding: var(--padding-large);
	border-radius: var(--border-radius);
  	box-shadow: var(--shadow);
  	background-color: var(--color-white);
  	transition: var(--transition-time);
}

.card-title {
	color: var(--color-black);
	margin: 0;
	font-size: var(--font-size-med);
}

.card .subtext {
	font-weight: var(--font-weight-light);
}

.card:hover {
  	box-shadow: var(--shadow-active);
  	transition: var(--transition-time);
}

.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


/*=========================================================================
  Grid
============================================================================*/
.grid-layout {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr;
	margin: var(--margin-xl) 0 ;
}

.card {
	display: grid;
	grid-template-columns: repeat( 1, 1fr );
	grid-template-rows: auto 40px 80px;
}

.card-title {
	grid-row: 2;
}

.subtext {
	grid-row: 3;
}

.meta {
	grid-row: 4;
}

.card-image {
	grid-row: 1;
}
@media ( min-width: 600px ) {
	.grid-layout {
		grid-template-columns: repeat( 2, 1fr );
	}
}

@media ( min-width: 1000px ) {
	.grid-layout {
		grid-template-columns: repeat( 3, 1fr );
	}
}

/*
.contact-email {
	grid-area: email;
}

.contact-or {
	grid-area: or;
	justify-self: center;
	align-self: center;
}

.contact-cell {
	grid-area: cell;
  	justify-self: end;
}

.contact-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat( 3, 1fr );
	grid-template-areas: 
	"email or cell"
}
*/

/*=========================================================================
  Footer
============================================================================*/

footer {
	background-color: var(--color-black);
	color: var(--color-white);
	margin: var(--margin-xxl) 0 0;
	padding: var(--padding-large) var(--padding-standard);
}

.footer-nav {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.footer-talk {
	  justify-self: center;
}

.footer-help {
	  justify-self: end;

}

.signature {
	margin-top: var(--margin-standard);
	grid-column: 1/ span 2;
}

footer h4 {
	margin: 0;
}

footer li {
	display: inline-block;
	margin: 0 var(--margin-large) 0 0;
}

.icon {
	display: inline-block;
	margin: 0 var(--margin-xxs);
	fill: var(--color-grey);
	height: 24px;
}

.icon:hover {
	background-color: transparent;
	box-shadow: none;
}

a svg:hover #linkedin,
a svg:hover #email { 
  fill: var(--color-accent);
}


/*=========================================================================
  Logo
============================================================================*/

.logo {
	color: var(--color-black);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--font-size-lg);
	margin-left: -8px;
}

small {
	font-weight: var(--font-weight-regular);
	padding: 0;
}

/* ==========================================================================
   Lists
   ========================================================================== */

footer ul, header ul {
	margin: 0;
	padding-left: 0;
}

ul {
	margin-top: 0;
}

li {
	color: var(--color-grey-dark);
	font-family: var(--font-primary);
	font-size: var(--font-size-reg);
	font-weight: var(--font-weight-regular);
	line-height: 1.6;
	margin: var(--margin-xs) 0 0 0;
	padding: .1rem 0;
}

ul li {
	list-style-type: disc;
}

ul, ol {
	margin: var(--margin-large) 0;
}



/*=========================================================================
  Nav
============================================================================*/

nav li {
	display: inline-block;
	margin-right: .5rem;
}

nav li a {
	padding: .2rem;
	color: var(--color-grey-black);
}


/* ==========================================================================
   Hero Image
   ========================================================================== */

.hero-block {
	min-height: 80vh;
	padding: 0 var(--padding-standard);
	display: grid;
	border-radius: var(--border-radius);
	background-color: var(--color-grey-light-light);
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--margin-xxl);
	justify-content: center;
	align-content: center;
}


.hero-text {
	font-size: var(--font-size-med);
}

/* ==========================================================================
   button
   ========================================================================== */

.hero-button {
	background-color: var(--color-black);
	border-radius: var(--border-radius);
	color: var(--color-white);
	display: inline-block;
	font-size: var(--font-size-med);
	font-weight: var(--font-weight-semi-bold);
	padding: .5rem;
	text-decoration: none;
	text-shadow: none;
	box-shadow: var(--shadow);
	transition: var(--transition-time);
	}

.hero-button:hover {
	box-shadow: var(--shadow-active);
	background-color: var(--color-accent);
  	transition: var(--transition-time);
} 

.hero-button:active {
	outline: none;
}

#myBtn {
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-sm);
	display: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
}

@media ( min-width: 650px ) {
	#myBtn {
	font-size: var(--font-size-med);
	}
}


/* ==========================================================================
   About
   ========================================================================== */


.about-title {
	grid-area: heading;
}

.about-text {
	grid-area: text;
}

.about-image {
	grid-area: image;
}

.about-resume {
	grid-area: resume;
	max-width: 250px;
	max-height: 35px;
	margin-top: 0;
}

.about {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap:  0 1rem;
	margin: 0;
	justify-content: center;
	grid-template-areas: 
	"image"
	"heading"
	"text"
	"resume"
}

@media ( min-width: 850px ) {
	.about {
		grid-template-columns: 2fr ;
		grid-template-areas: 
		"heading heading"
		"text image"
		"resume image"
	}

	.about h3{
	margin-top: 0;
}
}


/* ==========================================================================
   Animation
   ========================================================================== */

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 300s;
}

@keyframes text-focus-in {
  0% {
            filter: blur(12px);
    opacity: 0;
  }
  100% {
            filter: blur(0px);
    opacity: 1;
  }
}










